// ==========================================================================
// $FONT-FACE
// ==========================================================================

@font-face {
    font-family: 'atrotissemisans-lightregular';
    src: url('fonts/atrotissemisans-light-webfont.woff2') format('woff2'),
         url('fonts/atrotissemisans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
