.Button {
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 18px;
    transition: all .3s ease-in-out;

    &.has-arrow {
        align-items: center;
        display: flex;

        .u-icon {
            fill: currentColor;
            height: 10px;
            margin-left: 8px;
            width: 6px;
        }
    }

    &.is-color {
        color: $c-primary;
        &:hover { color: $c-primary; }
        &:active { color: $c-primary; }
    }

    &.is-solid {
        border-radius: get-rems(5px);
        font-size: get-rems(15px);
        margin-bottom: 0;
        padding: get-rems(12px) get-rems(24px);

        &.bg-green {
            background-color: $c-primary;
            color: $c-white;
            display: inline-block;
            &:hover { background-color: $c-primary; }
            &:active { background-color: $c-primary; }
        }
    }
}
