.Contact {
    padding-bottom: space(3);
    padding-top: space(3);

    @include breakpoint($s960) {
        align-items: stretch;
        display: flex;
        justify-content: space-between;
    }

    .Contact-container {
        @include breakpoint($s960) {
            max-width: get-rems(540px);
            padding-right: get-rems(20px);
            width: 50%;
        }
    }

    .Contact-subtitle {
        border-bottom: 1px dashed $c-greyDark;
        margin-bottom: space(1.5);
        padding-bottom: space(1.5);
    }

    .Contact-text {
        margin-bottom: space(1.5);
    }

    .Contact-map {
        iframe {
            pointer-events: none;
            width: 100%;
        }

        @include breakpoint($s960) {
            width: 50%;

            iframe { height: 100%; }
        }

        &.active {
            iframe { pointer-events: auto; }
        }
    }
}
